.container {
	display: flex;
	margin: 0 10%;
	height: 100vh;
	flex-direction: column;
}

.nav {
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	display: flex;
	justify-content: space-between;
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

.box {
	display: flex;
	justify-content: center;
	flex-grow: 1;
	flex-basis: 0;
}
